@import 'apps/frontend/src/styles/core/_variables';

.header {
  background-color: $color-primary;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-logo {
  font-size: 20px;
  color: white;
}

.content-left {
  float: left;
}

.content-right {
  float: right;
}

.header-content {
  padding: 12px;
}

.nav-link {
  text-decoration: none;
  color: $highlight-color;
  margin: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px;

  &.active {
    font-weight: 800;
    color: $highlight-color;
  }
}
