* {
  box-sizing: border-box;
  &:active,
  &:hover,
  &:focus {
    outline: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

::selection {
  background: $color-primary;
  color: $body-color-bg;
}

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Overpass, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
